body {
  font-family: Arial;
  background-color:#f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/fundo3.jpg');
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}

input{
  box-sizing: border-box;
}